@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-image: url('https://c.stocksy.com/a/h99200/z9/511853.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.mobile {
  display: none;
}

.cards {
  margin: 0 auto;
  width: 60%;
}

.aboutme {
  color:antiquewhite;
  height: 100vh;
}

a.mr-auto.navbar-brand {
  color: crimson;
}

.navbar-light .navbar-toggler-icon {
  color: whitesmoke !important;
  
}
.navbar {
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
  color: crimson !important;
}
.card-container {
  padding: 5%;
}
@media only screen and (max-width: 500px) {
  .not-mobile {
    display: none;
  }
  .mobile {
    display: block;
    background: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer {
    display: none;
  }
  a.mr-auto.navbar-brand {
    color: crimson;
    font-size: 12px;
  }
}