@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-image: url('https://c.stocksy.com/a/h99200/z9/511853.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mobile {
  display: none;
}
@media only screen and (max-width: 500px) {
  .not-mobile {
    display: none;
  }
  .mobile {
    display: block;
    background: transparent;
  }
  .footer {
    display: none;

  }
}

.cards {
  margin: 100px;
}

.aboutme {
  color:antiquewhite;
}

a.mr-auto.navbar-brand {
    color: crimson;
}

.navbar-light .navbar-toggler-icon {
  border:1px solid red;
  color: whitesmoke !important;
}
.navbar {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: whitesmoke !important;
}